.name{
    align-content: center;
    color: #FFFFFA;
    font-size: 60px;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-weight: 200;
  }
  
  .description{
    align-content: center;
    color: #FFFFFA;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
  
  }

  .container{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 12rem;
  }

  .container1{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFA;
    gap: 3rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
  }

  .projects{
    overflow: hidden; 
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-content: center;
  }

  .learn{
    display: flex;
    overflow: hidden; 
    padding-right: 20px;
    flex-direction: row;
    gap: .5rem;
    align-content: center;
  }

  .projects div {
    transition: transform .5s ease;
  }
  
  .projects:hover div {
    transform: scale(1.05);
  }

  .learn div {
    transition: transform .5s ease;
  }
  
  .learn:hover div {
    transform: scale(1.05);
  }

  .description {
    height: 10vh;
    /*This part is important for centering*/
    display: flex;
    place-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    display: flex;
    align-content: center;
    width: 41ch;
    animation: typing 5s steps(41), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 300px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }