.namebox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 32%;

}

.name{
  color: #FFFFFA;
  font-size: 60px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-weight: 200;
}

.description{
  margin-top: 1%;
  margin-left: 7%;
  color: #FFFFFA;
  font-family:'Courier New', Courier, monospace;
  font-weight: 300;

}

.start{
  margin-top: 0px;
}

.nav1{
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  margin-top: 4%;
  color: #FFFFFA;
  font-size: 20px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-weight: 200;
  
}

.navbar{
  display: flex;
  flex-direction: row;
}

.logo{
  margin-right: 58%;
}
